

/* Contenedor principal para el formulario de contacto */
.contacto-container {
  display: flex; /* Utiliza flexbox para organizar elementos */
  flex-direction: column; /* Organiza los elementos en columna */
  justify-content: center; /* Centra verticalmente los elementos */
  align-items: center; /* Centra horizontalmente los elementos */
  background: linear-gradient(135deg, #01092c, #421174); /* Fondo con degradado */
  color: #fff; /* Texto en color blanco */
  padding: 50px; /* Espaciado interno */
  border-radius: 10px; /* Borde redondeado */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra sutíl */
  text-align: center; /* Alineación del texto al centro */
}

/* Estilos del título del formulario */
.contacto-titulo {
  font-size: 32px; /* Tamaño del texto */
  margin-bottom: 20px; /* Margen inferior */
  color: #7779ff; /* Color para el título */
}

/* Formulario */
.formulario {
  display: flex; /* Usa flexbox para el formulario */
  flex-direction: column; /* Organiza los campos en columna */
  align-items: center; /* Centra los campos horizontalmente */
}

/* Estilos para los campos del formulario */
.campo-formulario {
  margin: 10px 0; /* Margen entre campos */
}

/* Etiquetas de los campos */
label {
  display: block; /* Hace que las etiquetas se muestren en bloques */
  margin-bottom: 5px; /* Espaciado inferior */
  color: #e2e2e2; /* Color para las etiquetas */
}

/* Campos de entrada de texto */
input,
textarea {
  width: 100%; /* Ocupa todo el ancho disponible */
  padding: 10px; /* Espaciado interno */
  border: 1px solid #757575; /* Borde del campo */
  border-radius: 5px; /* Borde redondeado */
  background-color: #353a45; /* Fondo gris oscuro para campos */
  color: #fff; /* Texto en color blanco */
  margin-top: 5px; /* Margen superior */
}

/* Botón de envío */
button {
  padding: 10px 20px; /* Espaciado interno */
  border: none; /* Sin borde */
  border-radius: 5px; /* Borde redondeado */
  background-color: #3f2919; /* Color para el botón */
  color: #fff; /* Texto en color blanco */
  cursor: pointer; /* Cursor al pasar sobre el botón */
  transition: background-color 0.3s; /* Transición de color al pasar el mouse */
}

/* Cambio de color al pasar el mouse sobre el botón */
button:hover {
  background-color: #ff8c4a;
}
